*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    min-height: 100vh;
    max-width: 100%;
    background-image: linear-gradient(25deg, #0163ff, #4a95ed, #51c7d9, #2ffac2);
    display: grid;
    place-content: center;
    padding: 50px;
    gap: 1em;
    }

h1{
    letter-spacing: 3px;
}

button{
    padding: 10px;
    border-radius: 20px;
    border-style: none;
    background: #FFACC7;
    transition: .8s;
    font-weight: 600;
    letter-spacing: 2px;
}

button:hover{
    background: #BAD1C2;
    letter-spacing: 7px;
}

p{
    padding: 10px;
    text-align: center;
    color: whitesmoke;
}

.part p:last-child{
    color: black;
    font-weight: 500;
}

@media only screen and (max-width: 600px){
    h1{
        text-align: center;
    }
}